<!DOCTYPE html>
<html>
	<form method = "POST" action = "/save">
	<h1> enter item name</h1>
	Item <input type= "text", name="name">
	Price <input type="datetime", name="price">
	<input type ="submit" value = "Submit">
	
</html>
